<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <div>
    <mat-checkbox [(ngModel)]="data.sendToMember">Send email to Member</mat-checkbox>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="data.download">Download document copy</mat-checkbox>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="data.sendToSystem">Send document copy to master email</mat-checkbox>
  </div>
  <div>
    <mat-form-field class="m-right " color="primary" appearance="standard">
      <mat-label>Transaction Date</mat-label>
      <input matInput [value]="data.issueDate | date: 'yyyy:MM:dd'" disabled>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data">OK</button>
  <button mat-button (click)="cancel($event)" cdkFocusInitial>CANCEL</button>
</div>
