<div class="example-container">
  <h1 class="header">Membership Summary</h1>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let member of members$ | async; let i = index">
      <mat-expansion-panel-header class="right-aligned-header">

        <mat-panel-title>
          <div>
            <mat-label>{{member.preferredName}}</mat-label>
          </div>
        </mat-panel-title>

        <mat-panel-description>
          <div>
            <mat-label class="btn-m">{{'Membership ID: ' + member.membershipId}}</mat-label>
            <mat-label class="btn-m">{{'Rs ' + member.amount + '.00'}}</mat-label>
            <button class="btn-m" mat-raised-button color="primary" (click)="modify($event, member.id)">MODIFY</button>
            <button class="btn-m" mat-raised-button color="primary" (click)="delete($event, member.id)">DELETE</button>
          </div>
        </mat-panel-description>


      </mat-expansion-panel-header>

      <mat-form-field class="m-right" color="primary" appearance="standard">
        <mat-label>Full Name</mat-label>
        <input matInput [value]="member.fullName" disabled>
      </mat-form-field>

      <mat-form-field class="m-right" color="primary" appearance="standard">
        <mat-label>NIC No</mat-label>
        <input matInput [value]="member.nicNo" disabled>
      </mat-form-field>

      <mat-form-field class="m-right" color="primary" appearance="standard">
        <mat-label>Description</mat-label>
        <input matInput [value]="member.description" disabled>
      </mat-form-field>

      <mat-form-field class="m-right " color="primary" appearance="standard">
        <mat-label>Transaction Date</mat-label>
        <input matInput [value]="member.transactionDate | date: 'yyyy:MM:dd'" disabled>
      </mat-form-field>

      <mat-form-field class="m-right " color="primary" appearance="standard">
        <mat-label>Date of Birth</mat-label>
        <input matInput [value]="member.dob | date: 'yyyy:MM:dd'" disabled>
      </mat-form-field>

      <mat-form-field class="m-right " color="primary" appearance="standard">
        <mat-label>Membership Date</mat-label>
        <input matInput [value]="member.membershipDate | date: 'yyyy:MM:dd'" disabled>
      </mat-form-field>

      <mat-form-field class="m-right " color="primary" appearance="standard">
        <mat-label>TP Number</mat-label>
        <input matInput [value]="member.tpNo" disabled>
      </mat-form-field>

      <mat-form-field class="m-right " color="primary" appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput [value]="member.email" disabled>
      </mat-form-field>

      <mat-form-field class="m-right" color="primary" appearance="standard">
        <mat-label>Unit No</mat-label>
        <input matInput [value]="member.address?.unitNo" disabled>
      </mat-form-field>

      <mat-form-field class="m-right" color="primary" appearance="standard">
        <mat-label>Street</mat-label>
        <input matInput [value]="member.address?.street" disabled>
      </mat-form-field>

      <mat-form-field class="m-right" color="primary" appearance="standard">
        <mat-label>Town</mat-label>
        <input matInput [value]="member.address?.town" disabled>
      </mat-form-field>

      <mat-form-field class="m-right" color="primary" appearance="standard">
        <mat-label>Country</mat-label>
        <input matInput [value]="member.address?.country" disabled>
      </mat-form-field>

      <mat-form-field class="m-right " color="primary" appearance="standard">
        <mat-label>Added Date</mat-label>
        <input matInput [value]="member.addedDate | date: 'yyyy:MM:dd hh:mm:ss a'" disabled>
      </mat-form-field>

      <mat-form-field class="" color="primary" appearance="standard">
        <mat-label>Last Modified Date</mat-label>
        <input matInput [value]="member.lastModifyDate | date: 'yyyy:MM:dd hh:mm:ss a'" disabled>
      </mat-form-field>

    </mat-expansion-panel>
  </mat-accordion>
</div>
