<div class="example-container">
  <h1 class="header">{{member.id ? 'Modify' : 'Add'}} Member</h1>
  <div>
    <mat-form-field hintLabel="Preferred name of the member" color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Preferred Name</mat-label>
      <input matInput maxlength="50" placeholder="ex: Kusal Kumara" [formControl]="preferredName" required>
      <mat-hint align="end">{{preferredName.value?.length || 0}}/50</mat-hint>
      <mat-error *ngIf="preferredName.invalid">{{getErr(preferredName)}}</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Membership Numebr of the member" color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Membership Number</mat-label>
      <input matInput maxlength="200" placeholder="ex: 00457895MM" [formControl]="membershipId" required>
      <mat-hint align="end">{{membershipId.value?.length || 0}}/200</mat-hint>
      <mat-error *ngIf="membershipId.invalid">{{getErr(membershipId)}}</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Full name of the member" color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Full Name</mat-label>
      <input matInput maxlength="200" placeholder="ex: Mudiyanselage Kusal Kumara" [formControl]="fullName" required>
      <mat-hint align="end">{{fullName.value?.length || 0}}/200</mat-hint>
      <mat-error *ngIf="fullName.invalid">{{getErr(fullName)}}</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="NIC no of the member" color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>NIC Number</mat-label>
      <input matInput maxlength="50" placeholder="ex: 9356789v" [formControl]="nicNo" required>
      <mat-hint align="end">{{nicNo.value?.length || 0}}/50</mat-hint>
      <mat-error *ngIf="nicNo.invalid">{{getErr(fullName)}}</mat-error>
    </mat-form-field>

    <mat-form-field color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Amount</mat-label>
      <input matInput placeholder="ex: 8000" [formControl]="amount" required>
      <span matPrefix>Rs&nbsp;</span>
      <span matSuffix>.00</span>
      <mat-hint>The amount mamber can donate monthly</mat-hint>
      <mat-error *ngIf="amount.invalid">{{getErr(amount)}}</mat-error>
    </mat-form-field>

    <mat-form-field color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Description</mat-label>
      <input matInput placeholder="ex: ER45UUI" [formControl]="des" required>
      <mat-hint>The description provided in money transfer to identify transaction</mat-hint>
      <mat-error *ngIf="des.invalid">{{getErr(des)}}</mat-error>
    </mat-form-field>

    <mat-form-field color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Transaction Date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="tranDate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>The transaction date which in money transfer occurs recursively</mat-hint>
    </mat-form-field>

    <mat-form-field color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker2" [formControl]="dob" required>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-hint>Date of birth of the member</mat-hint>
    </mat-form-field>

    <mat-form-field color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Membership Date</mat-label>
      <input matInput [matDatepicker]="picker3" [formControl]="membershipDate" required>
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
      <mat-hint>The membership starting date of the member</mat-hint>
    </mat-form-field>

    <mat-form-field color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>TP Number</mat-label>
      <input matInput placeholder="ex: +94771658798" [formControl]="tpNo" required>
      <mat-hint>The telephone number of the member</mat-hint>
      <mat-error *ngIf="tpNo.invalid">{{getErr(tpNo)}}</mat-error>
    </mat-form-field>

    <mat-form-field color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Email</mat-label>
      <input matInput placeholder="ex: kusal@gmail.com" [formControl]="email" required>
      <mat-hint>The email address of the member</mat-hint>
      <mat-error *ngIf="email.invalid">{{getErr(email)}}</mat-error>
    </mat-form-field>

    <h3 class="sub-header">Address</h3>

    <mat-form-field hintLabel="Unit No/Home No of member's address" color="primary" appearance="standard"
                    [style.width.em]=20>
      <mat-label>Unit No/Home No</mat-label>
      <input matInput maxlength="200" placeholder="ex: 32/345" [formControl]="unitNo" required>
      <mat-hint align="end">{{unitNo.value?.length || 0}}/200</mat-hint>
      <mat-error *ngIf="unitNo.invalid">{{getErr(unitNo)}}</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Street of member's address" color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Street</mat-label>
      <input matInput maxlength="200" placeholder="ex: 2nd Lane, Demodara" [formControl]="street" required>
      <mat-hint align="end">{{street.value?.length || 0}}/200</mat-hint>
      <mat-error *ngIf="street.invalid">{{getErr(street)}}</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Town of member's address" color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Town</mat-label>
      <input matInput maxlength="100" placeholder="ex: Rathnapura" [formControl]="town" required>
      <mat-hint align="end">{{town.value?.length || 0}}/100</mat-hint>
      <mat-error *ngIf="town.invalid">{{getErr(town)}}</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Country of member's address" color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Country</mat-label>
      <input matInput maxlength="100" placeholder="ex: Srilanka" [formControl]="country" required>
      <mat-hint align="end">{{country.value?.length || 0}}/100</mat-hint>
      <mat-error *ngIf="country.invalid">{{getErr(country)}}</mat-error>
    </mat-form-field>
  </div>

  <div class="btn-save-margin">
    <button class="btn-m" mat-raised-button color="primary" [disabled]="inValidInput()"
            (click)="save()">{{member.id ? 'MODIFY' : 'ADD'}}
    </button>
    <button class="btn-m" mat-raised-button color="primary"
            (click)="navigateToSummary()">MEMBERSHIP SUMMARY
    </button>
    <button class="btn-m" mat-raised-button color="primary"
            (click)="navigateToSummary()">MEMBERSHIP SUMMARY
    </button>
  </div>
</div>
