.example-container {
  margin-left: 2em;
}

.header {
  padding-top: 15px;
  color: mediumblue;
}

.sub-header {
  margin-top: 2rem;
  color: mediumblue;
}

.mat-form-field {
  margin-right: 2rem;
}

.btn-save-margin {
  margin-top: 2rem;
}

.btn-m{
  margin-right: 1em;
  margin-right: 1em;
}
