.btn-m {
  margin-right: 1em;
}

.m-t {
  margin-top: 1em;
}

table {
  width: 100%;
}

.header {
  padding-top: 15px;
  color: mediumblue;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
