<div class="example-container">
  <h1 class="header">User Details</h1>

  <div>
    <mat-form-field color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Master Email</mat-label>
      <input matInput placeholder="xxx@example.com" [formControl]="masterEmail" required>
      <mat-hint>The email of the officer using app</mat-hint>
      <mat-error *ngIf="masterEmail.invalid">{{getErrMasterEmail()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="padding-left-4em" color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>CC Emails</mat-label>
      <input matInput placeholder="xxx@example.com,yyy@example@com,zzz@example.com" [formControl]="ccEmails" required>
      <mat-hint>The emails of other officers in society</mat-hint>
      <mat-error *ngIf="ccEmails.invalid">{{getErrCcEmails()}}</mat-error>
    </mat-form-field>
  </div>


  <h1 class="header" [style.padding-top.px]=45>Notifications</h1>

  <div>
    <mat-form-field color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>Mid Evaluation Expiration Date</mat-label>
      <input matInput placeholder="15" [formControl]="midEvalExpDate" required>
      <mat-hint>If app has not used for mid evaluation
        until {{midEvalExpDate.value > 0 ? midEvalExpDate.value : 'given date'}}, a notification will be sent to master
        email
      </mat-hint>
      <mat-error *ngIf="midEvalExpDate.invalid">{{getErrEvalExpDate(midEvalExpDate)}}</mat-error>
    </mat-form-field>

    <mat-form-field class="padding-left-4em" color="primary" appearance="standard" [style.width.em]=20>
      <mat-label>End Evaluation Expiration Date</mat-label>
      <input matInput placeholder="25" [formControl]="endEvalExpDate" required>
      <mat-hint>If app has not used for end evaluation
        until {{endEvalExpDate.value > 0 ? endEvalExpDate.value : 'given date'}}, a notification will be sent to master
        email
      </mat-hint>
      <mat-error *ngIf="endEvalExpDate.invalid">{{getErrEvalExpDate(endEvalExpDate)}}</mat-error>
    </mat-form-field>
  </div>


  <h1 class="header" [style.padding-top.px]=45>Smart Match</h1>

  <div>
    <mat-label>Transaction Date Tolerance</mat-label>
    <mat-form-field [style.padding-left.em]=12 class="padding-left-4em" color="primary" appearance="standard"
                    [style.width.em]=20>
      <mat-label>Date Range</mat-label>
      <input matInput placeholder="3" [formControl]="toleranceDateRange" required>
      <mat-error *ngIf="toleranceDateRange.invalid">{{getErrEvalExpDate(toleranceDateRange)}}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary" [disabled]="validInput()" (click)="save()">SAVE</button>
  </div>
</div>
