.example-container {
  margin-left: 2em;
}

.padding-left-4em {
  padding-left: 4em;
}

.header {
  padding-top: 15px;
  color: mediumblue;
}

.btn-m{
  margin-right: 1em;
}

.m-right{
  margin-right: 4em;
}

.m-t {
  margin-top: 1em;
}
